body {
    margin: 0;
    padding: 0; 
    background-color:#121212;
    font-family: 'Inter', sans-serif;
    color: white; 
    width: 420px; 
   
}

#header {
    margin: 0;
    padding: 1rem 0;
    background-image: url("jeff-pierre-5X5I20O_Vbg-unsplash.jpg");
    background-size: cover;
    background-position: 0px 200px;
    background-repeat: none; 
}

#header h1 {
    margin: 0 0 0 1rem;
}

#header h4 {
    margin: 0.75rem;
}

#find-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#search-div {
    display: flex;
}

.movie-tv-search {
    display: flex; 
    margin: 0 3px; 
    align-items: center;
    

}





/* movie box */

#movie-block {
    margin: 1rem;
    
}

#rating {
    display: flex; 
    flex-direction: row;
    align-items: center;
}

#rating img {
    margin-right: 0.5rem; 
}

#tomatoImg {
    width: 25px; 
}

#movie-img {
    width: 100px;
}

