body {
    margin: 0;
    padding: 0; 
    background-color:#121212;
    font-family: 'Inter', sans-serif;
    color: white; 
    max-width: 800px; 
    /* use 600px for media query */
   
}

#header {
    margin: 0;
    padding: 1rem 0;
    background-image: url("jeff-pierre-5X5I20O_Vbg-unsplash.jpg");
    background-size: cover;
    background-position: 0px 200px;
    background-repeat: none; 
}

#header h1 {
    margin: 0 0 0 1rem;
}

#header h4 {
    margin: 0.75rem;
}

#find-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#search-div {
    display: flex;
    margin: 0 0 0 1rem; 
}

.movie-tv-search {
    display: flex; 
    margin: 0 3px; 
    align-items: center;
    
}







/* movie box */

#movie-block {
    margin: 0 2rem;
    
}

#movie-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    max-width: 800px;
    
}

#text-block {
    display: flex; 
    flex-direction: column;
    height: 300px;
}

#title-rating-div {
    display: flex;
}

#title-rating-div > * {
    margin-right: 1rem; 
}

#rating-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#rating-div >* {
    margin-right: 0.3rem;
}

#rating {
    display: flex; 
    align-items: center;
}

#review-img {
    width: 20px;
    height: 20px;
}

#genre-link-div {
    margin-top: 0;
    display: flex;
    align-items: center;
}

#genre-link-div > * {
   margin-right: 3rem;
}

#watch-movie {
    margin-top: 2rem;
}

#movie-img {
    max-width: 175px;
    max-height: 275px;
    width: auto;
    height: auto;
    order: -1;
    margin: 3rem 1.5rem 0 0;
}

#season-input {
    display: none;
}

@media (max-width: 660px) {

    body {
       background: red;
       min-width: 430px;
    }

    #title {
        font-size: 1.25rem; 
    }

    #genre {
        display: none;
    }

   

    #movie-description {
        max-width: 100%; 
        font-size: 0.75rem;
       
        
    }


    #movie-img {
        margin: 0 1rem 0 0;
        width: 125px;
        height: auto;
       
    }

    #movie-container {
        height: 100%;
        min-width: 400px
    }

    #runtime {
        margin: 0 0.5rem 0 0; 
    }
 

}

